.addGameModalContainer {
  position: relative;
  top: 25%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38%;
  height: 25%;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 30px 0px 30px 0px;
}

.modalVisible {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  animation: modalFadeIn 0.5s;
}

.modalText {
  padding: 0.5rem;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalHidden {
  display: none;
}

/* Buttons */

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.yesButton {
  outline: 2px solid white;
  width: 4rem;
  padding: 0.1rem;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px 0px 5px 0px;
}

.cancelButton {
  outline: 2px solid white;
  width: 4rem;
  padding: 0.1rem;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px 0px 5px 0px;
}

.yesButton:hover {
  cursor: pointer;
  color: lightgreen;
  outline: 2px solid lightgreen;
}

.cancelButton:hover {
  cursor: pointer;
  color: red;
  outline: 2px solid red;
}
