/* Overlay visibility */


/* Vote Error */
.voteErrorHidden {
  display: none;
}

.voteErrorVisible {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  animation: modalFadeIn 0.5s;
  z-index: 15;
}

.overlayContainer {
  position: relative;
  top: 25%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38%;
  height: 20%;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 30px 0px 30px 0px;
}

/* OK button */

.okButton {
  outline: 2px solid white;
  width: 4rem;
  padding: 0.1rem;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px 0px 5px 0px;
}

.okButton:hover {
  cursor: pointer;
  color: lightgreen;
  outline: 2px solid lightgreen;
}

.okButton:active {
  transform: translateY(5px);
}

.paginationDisplayHidden {
  display: none;
}

.paginationDisplay {
  width: 30rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
