.gameItem {
  background-color: #388697;
  position: relative;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 30px 0px 30px 0px;
  box-shadow: 8px 8px 8px black;
  animation: gameItemFadeIn 1s;
}

@keyframes gameItemFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.voteCountDisplay {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Button styles */

.voteButtonContainer {
  display: flex;
  gap: 1rem;
}

.voteNoButton {
  outline: 2px solid white;
  width: 4rem;
  padding: 0.1rem;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px 0px 5px 0px;
}

.voteNoButton:hover {
  cursor: pointer;
  color: red;
  outline: 2px solid red;
}

.voteNoButton:active {
  transform: translateY(5px);
}

.voteYesButton {
  outline: 2px solid white;
  width: 4rem;
  padding: 0.1rem;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px 0px 5px 0px;
}

.voteYesButton:hover {
  cursor: pointer;
  color: lightgreen;
  outline: 2px solid lightgreen;
}

.voteYesButton:active {
  transform: translateY(5px);
}

.votedTextVisible {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  color: black;
  font-size: 0.75rem;
  background-color: rgba(244, 236, 194, 0.8);
  transform: rotate(45deg);
  outline: 2px solid yellow;
  margin-bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black;
}

.votedTextHidden {
  display: none;
}


/* ============================
|||||||||| Small Screen |||||||
=============================== */

@media only screen and ( width < 500px ){
    .gameItem {
      display: flex;
      flex-direction: column;
      width: 275px;
    }

    .votedTextVisible {
      top: auto;
      bottom: 1rem;
    }
}