.aboutContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

/* Animate container on load */
.fadeContainer {
    animation: 1s animate-fade-container ease-out 1;
}

@keyframes animate-fade-container {

    0% {
        opacity: 0;
    }
    20% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    80% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}