.addGameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.gameNameInput {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  border-radius: 3px;
  border: none;
  text-indent: 5px;
  height: 2.25rem;
  width: 90%;
}

.gameDescriptionInput {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  resize: none;
  border-radius: 3px;
  border: none;
  text-indent: 5px;
  width: 90%;
}

.addGameSelectInput {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
}

.addGameViewButton {
  display: flex;
  justify-content: center;
  width: 6rem;
  color: white;
  background-color: #241e4e;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 0.5s;
}

.addGameViewButton:hover {
  cursor: pointer;
  outline: 2px solid white;
}

.addGameViewButton:active {
  transform: translateY(5px);
  box-shadow: 2px 2px 2px black;
}

@media only screen and (width < 500px) {
  .gameNameInput {
    width: 308px;
  }

  .gameDescriptionInput {
    width: 308px;
  }
}
