.headerContainer {
  display: flex;
  justify-content: center;
  background-color: #e1f16b;
  width: 100%;
  overflow: hidden;
}

.headerPic {
  max-width: 477px;
}

@media only screen and (width <= 700px) {
  .headerPic {
    width: 98dvw;
  }
}
