.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  
  background-color: #FFC9B5;
  
}

.errorMessage{
  text-align: center;
}

.routesContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 263px);
  margin-bottom: 2rem;
}

